<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFp8_G1TRUFwm8kKXh4rM-K3qgD3FQk4o</string>
	<key>GCM_SENDER_ID</key>
	<string>22214204005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ambulanceTracker.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ambulance-tracker-11812</string>
	<key>STORAGE_BUCKET</key>
	<string>ambulance-tracker-11812.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22214204005:ios:4651a082a958eb6549448c</string>
</dict>
</plist>